* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: #ff00ff;
	padding: 30px 20px;
	display: flex;
	justify-content: flex-end;

}

.header > div {
	background-color: #fbb3ff;
	width: 140px;
	height: 70px;
	margin: 0 10px;
}

.header > div:first-child {
	margin-right: auto;
}

.main {
	display: flex;
	justify-content: center;

}

.sidebar {
	background-color: #d8ffb6;
	width: 300px;
}

.content {
	background-color: #00b522;
	padding: 20px;
	max-width: 700px;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;


}

.content > div {
	background-color: #fff75a;
	height: 120px;
	margin: 10px;
	flex-basis: 200px;
}

.footer {
	background-color: #52a1ff;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}

.footer > div {
	background-color: #b6e7ff;
	width: 45%;
	height: 40px;
	margin: 10px;
	max-width: 600px;

}